
/* @import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto+Slab:wght@100;300;400;700;900&family=Zilla+Slab:wght@300;400;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-glow-black {
    text-shadow: 0px 0px 0.5rem hsla(0 0% 0% / 20%);
  }
}



.wp-block-file__button {
  display: inline-block;
  font-family: sans-serif;
  text-decoration: none;
  background-color: black;
  color: white;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
  margin: 1rem;
}

.link-more {
  display:none;
}

.no-margin-first-child > :first-child {
  margin-top: 0 !important;
}