---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-5xl font-patua whitespace-nowrap">Välkommen till <span class="bg-gradient-to-br from-emerald-500 to-emerald-900 bg-clip-text text-transparent">Brf Gröna Gatan</span></h1>
  </main>
</Layout>
