---
import Layout from '../layouts/Layout.astro';
---
  <Layout title="Welcome to Astro.">
    <main>
      <h1 class="text-5xl font-patua whitespace-nowrap">Välkommen till <span class="bg-gradient-to-br from-emerald-500 to-emerald-900 bg-clip-text text-transparent">Brf Gröna Gatan</span></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem explicabo similique adipisci quod recusandae alias eos eveniet officia necessitatibus fuga. Fugiat atque minus quisquam dignissimos suscipit ipsam sit asperiores optio.</p>
    </main>
  </Layout>
