---
import Layout from '../layouts/Layout.astro'
import { getPageFromSlug } from '@ts/queries'

const pageResponse = await getPageFromSlug('start')
---
  <Layout title="Welcome to Astro.">
    <main class="mx-auto prose prose-base md:prose-lg xl:prose-xl prose-headings:font-sans font-serif prose-figure:rounded-md prose-img:rounded-md">
      <h2 class="!font-patua">Välkommen till <span class="bg-gradient-to-br from-emerald-500 to-emerald-900 bg-clip-text text-transparent">Brf Gröna Gatan 27-39</span></h2>
      <article set:html={pageResponse.content} />
    </main>
  </Layout>
