---
import Layout from '../layouts/Layout.astro'
import { getMostRecentPosts } from '@ts/queries'

import { formatRelative, parse } from 'date-fns'
// import { sv } from 'date-fns/locale/index.js'
import sv from 'date-fns/locale/sv/index.js'

const posts = await getMostRecentPosts(50);
---
<Layout title="Grönagatan | Infobladet">
  <main class="mx-auto w-fit ">
    {
      posts.map(post => (
        <section class="bg-gray-50 border-gray-100 border rounded-md p-4 mb-8 prose prose-base md:prose-lg xl:prose-xl prose-headings:font-sans font-serif prose-figure:rounded-md prose-img:rounded-md">
          <div class="flex flex-wrap-reverse gap-x-4 justify-between">
            <h2 class="!mt-0">{post.title}</h2>
            <h6 class="!mt-0 font-bold prose prose-sm !text-gray-500">Publicerat: {formatRelative(parse(post.date, "yyyy-MM-dd'T'HH:mm:ss", new Date()), new Date(), { locale: sv })}</h6>
          </div>
          <article class="no-margin-first-child" set:html={post.content} />
        </section>
      ))
    }
  </main>
</Layout>

<style is:global >
  .article > :first-child {
    margin-top: 0 !important;
    background-color: blueviolet;
  }
</style>
