---
const menuItems = [
  {
    name: 'hem',
    url: ''
  },
  {
    name: 'fastigheten',
    url: ''
  },
  {
    name: 'service och felanmälan',
    url: ''
  },
  {
    name: 'fakta',

    url: ''
  },
  {
    name: 'dokument',
    url: ''
  }
];
---
  <nav class="main-menu w-full p-6 rounded-md">
    <label
      for="menu-toggle-checkbox"
      class="block absolute top-0 left-0 rounded-md shadow-md bg-zinc-300"
    >
      <input

        id="menu-toggle-checkbox"
        class="absolute w-8 h-8 top-0 left-0 p-0 z-50 block cursor-pointer opacity-40"
        name="menutoggle"
        type="checkbox"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </label>
    <ul>
      {
      menuItems.map((item) => (
        <li>
          <a
            class="block underline text-emerald-900 hover:bg-teal-200"
            href={item.url}
          >
            {item.name}
          </a>
        </li>
      ))
    }
    </ul>
  </nav>

    <style>
  .main-menu ul {
    /* display: none; */
    scale: 0;
    /* height: 0; */
    transition: all 0.5s ease;
  }

  .main-menu input:checked ~ ul {
    scale: 1;
    /* height: unset; */
    /* display: unset; */
    /* background-color: aliceblue; */
  }
    </style>
