---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;

import '../styles/main.css';

import Menu from '@components/Menu.vue'
import { Debug } from 'astro/components';
import '@fontsource/patua-one';
import '@fontsource/roboto-slab';
import '@fontsource/zilla-slab';
import '@fontsource/jost'

// const astroPaths = await Astro.glob('../pages/**/*.*');
// const hierarchyPaths = {};
// for (let i = 0; i < astroPaths.length; i++) {
// 	const path = astroPaths[i];
	
// 	const url = path.url;
// 	const splittedPath = url.slice(1).split('/');
// }

import { getAllPageSlugs } from '@ts/queries';
const menuResponse = await getAllPageSlugs();
const menuItems = menuResponse.pages.nodes.map((page: { slug: string; title: string; }) => {
	// console.log(page);
	return { url: page.slug, name: page.title } ;
});
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="stylesheet" href="styles/main.css" -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="lg:flex flex-nowrap items-start">
		<div class="lg:block flex justify-between sticky p-6 top-0 bg-gradient-to-tr lg:rounded-br-lg from-green-500/40 to-emerald-600/70 backdrop-blur-2xl" >
			<h2 class="m-6 font-patua text-white  text-4xl">Brf Gröna Gatan</h2>
			<Menu menuItems={menuItems} client:load/>
		</div>
		<div class="p-6 mx-auto" >
			<slot/>
		</div>
	</body>
</html>
<style>
	/* :root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	} */

</style>
