---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;

import '../styles/main.css';

import MobileMenu from '@components/MobileMenu.vue'
import { Debug } from 'astro/components';
import '@fontsource/patua-one';
import '@fontsource/roboto-slab';
import '@fontsource/zilla-slab';
import '@fontsource/jost'

// const astroPaths = await Astro.glob('../pages/**/*.*');
// const hierarchyPaths = {};
// for (let i = 0; i < astroPaths.length; i++) {
// 	const path = astroPaths[i];
	
// 	const url = path.url;
// 	const splittedPath = url.slice(1).split('/');
// }

import { getAllPageSlugs, getMenuItems } from '@ts/queries';
import Footer from '@src/components/Footer.astro';
// const menuResponse = await getAllPageSlugs();
const menuResponse = await getMenuItems();
const menuItems = menuResponse?.map((menuItem) => {
	// console.log(page);
	return { url: menuItem?.connectedNode?.node?.uri, name: menuItem?.label } ;
});

const currentUrl = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en" class="w-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="stylesheet" href="styles/main.css" -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full">
		<!-- <div class="lg:block flex justify-between items-center sticky p-2 top-0 bg-gradient-to-tr lg:rounded-br-lg from-green-500/40 to-emerald-600/70 backdrop-blur-2xl" >
			<h2 class="m-2 ml-4 lg:m-6 lg:mb-2 font-patua text-white  text-2xl">Brf Gröna Gatan</h2> -->
			<MobileMenu class="block lg:hidden" menuItems={menuItems} currentUrl={currentUrl} client:load/>
		<!-- </div> -->
		<div class="p-6 mt-20 lg:mt-0 mx-auto" >
			<slot/>
		</div>
		<Footer />
	</body>
</html>
<style>
	/* :root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	} */

</style>
